# LLMs ENV VARIABLES
EMBEDDING_MODEL=nomic-embed-text:latest
LANGUAGE_MODEL=qwen3:latest
THINKING_MODE=True
LLM_PROVIDER=ollama
# Optional: Ollama server base URL. If not set, defaults to http://localhost:11434
OLLAMA_HOST=http://localhost:11434
